.bi-linkedin {
  color: #0a66c2;
}
.bi-github {
  color: black;
}
.bi-envelope-at-fill {
  color: #ea4335;
}
.bi-telephone-fill {
  color: rgb(20, 197, 53);
}
.bi-telegram {
  color: #25a3e0;
}

.bi-discord {
  color: #404eed;
}
