$main-background-color: #FFFFFF;
$secondary-background-color: #F2F4F7;
$dark-background-color: #272727;

$accent-color: #F85D09;
$dark-color: #171717;

$font-color-dark: #171717;
$font-color-light: #FFFFFF;
$font-color-secondary: #344054;
$font-color-secondary-ligth: #98A2B3;


$hover-on-dark-color: rgba(255, 255, 255, 0.1);
$hover-on-light-color: #10110E;

