$main-background-color: #ffffff;
$secondary-background-color: #f2f4f7;
$dark-background-color: #272727;

$accent-color: #f85d09;
$dark-color: #171717;

$btn-dark-color: #1d2939;

$font-color-dark: #171717;
$font-color-light: #ffffff;
$font-color-secondary: #344054;
$font-color-secondary-ligth: #98a2b3;

$hover-on-dark-color: rgba(255, 255, 255, 0.1);
$hover-on-light-color: #10110e;
