<div class="container">
  <a routerLink="/" class="logo">
    <img class="logo-img" src="assets/logo.png" alt="" />
  </a>
  <h4>Yelyzaveta Vasylenko</h4>

  <div class="footer__content">
    <ul class="nav-menu">
      <li>
        <a routerLink="/">home</a>
      </li>
      <li>
        <a routerLink="projects">projects</a>
      </li>
      <li>
        <a routerLink="resume">resume</a>
      </li>
      <li>
        <a routerLink="contacts">contacts</a>
      </li>
    </ul>
    <ul>
      <li>
        <a
          href="https://www.linkedin.com/in/elizabeth-vasilenko/"
          title="Go to linkedin page"
          target="_blank"
          ><i class="bi bi-linkedin"></i
        ></a>
      </li>
      <li>
        <a href="https://github.com/ElizabethVasilenko13" title="Go to GitHub page" target="_blank"
          ><i class="bi bi-github"></i
        ></a>
      </li>
      <li>
        <a href="mailto:liza.vasilenko13@gmail.com" title="Send e-mail" target="_blank"
          ><i class="bi bi-envelope-at-fill"></i
        ></a>
      </li>
      <li>
        <a href="https://t.me/vasilenkkko" title="Open in telegram" target="_blank"
          ><i class="bi bi-telegram"></i
        ></a>
      </li>
      <li>
        <a
          href="https://discordapp.com/users/762593540260888618/ "
          title="Open in discord"
          target="_blank"
          ><i class="bi bi-discord"></i
        ></a>
      </li>
    </ul>
  </div>

  <p>© Copyright 2024. Made by Yelyzaveta</p>
</div>
