@import 'vars';

.greetings__container {
  margin: 20px auto 80px;
  padding: 0 10px;
}

.content {
  margin-top: 70px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 70px;
  align-items: center;
}

.greetings {
  margin-left: 30px;
}

h1 {
  font-size: 36px;
  line-height: 60px;
  position: relative;
  max-width: 440px;

  &::after {
    content: url('/assets/abstract.svg');
    position: absolute;
    bottom: -64px;
    right: -70px;
    transform: scale(0.8, -0.8) rotate(180deg);
    animation: scaleLarge 0.6s ease-in-out;
  }
}

.greetings__btns {
  display: flex;
  column-gap: 20px;
  margin-top: 20px;
  justify-content: flex-start;

  button {
    min-width: 120px;
    border-radius: 60px;
    text-align: center;
    color: $font-color-light;
    transition: all 0.4 ease-in-out;
    background-color: $accent-color;
    vertical-align: middle;

    &:hover {
      transform: scale(1.1);
    }
  }
}

.hello {
  margin: 0 0 10px 0;
  border: 2px solid $dark-color;
  border-radius: 38px;
  padding: 8px 15px;
  width: 103px;
  text-align: center;
  position: relative;

  &::before {
    content: url('/assets/abstract.svg');
    position: absolute;
    top: -70px;
    right: 73px;
    transform: scale(0.4, -0.4);
    animation: scaleSmall 0.6s ease-in-out;
  }
}

@keyframes scaleLarge {
  0% {
    transform: scale(0.2, -0.2) rotate(180deg);
  }
  100% {
    transform: scale(0.8, -0.8) rotate(180deg);
  }
}

@keyframes scaleSmall {
  0% {
    transform: scale(0.2, -0.2);
  }
  100% {
    transform: scale(0.4, -0.4);
  }
}

.photo-block {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('/assets/image-sircle.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 360px;
  height: 360px;

  img {
    width: 200px;
    height: 200px;
    border-radius: 100%;
    margin-bottom: 31px;
  }
}

.projects-section {
  background-image: url('/assets/back.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 20px;
  color: $font-color-light;
  position: relative;
  z-index: 4;

  a {
    display: inline-block;
    background-color: $accent-color;
    text-decoration: none;
  }

  &:hover {
    .background-left {
      transform: rotate(-4deg) translateY(4px);
    }
    .background-rigth {
      transform: rotate(184deg) translateY(4px);
    }
    .background-middle {
      transform: rotate(4deg);
    }
  }

  .background-images {
    position: absolute;
    z-index: -1;
    transition: all 0.3s ease-in-out;
  }

  .background-left {
    top: 120px;
    left: -50px;
    width: 250px;
    height: 250px;
  }

  .background-rigth {
    bottom: -10px;
    border-bottom-right-radius: 20px;
    right: 10px;
    width: 300px;
    height: 300px;
    transform: rotate(180deg);
  }

  .background-middle {
    top: -15px;
    right: 40%;
  }
}

.projects__container {
  padding: 30px 10px;
}

.projects__header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  align-items: center;

  .link-img {
    width: 25px;
    height: 25px;
  }

  a:hover {
    .link-img {
      transform: rotate(45deg);
    }
  }
}

.skills-section {
  margin: 50px 0;

  ul {
    margin: 0;
    padding: 0;
  }

  li {
    list-style: none;
    font-size: 18px;
    margin-bottom: 10px;
    padding: 10px;
    border: 2px dotted $accent-color;
    border-radius: 20px;

    &::before {
      content: '# ';
      font-weight: bold;
      color: $accent-color;
    }
  }
}

.about-section {
  background-color: $secondary-background-color;
  position: relative;
  z-index: 2;
  margin-bottom: 40px;
  .container {
    padding: 40px 10px;

    .content {
      display: flex;
      gap: 40px;
      flex-wrap: wrap;
    }

    .deskr {
      max-width: 600px;
      backdrop-filter: blur(3px);
      background: rgba(255, 255, 255, 0.22);
      border-radius: 50px;
      padding: 20px;
    }

    img {
      width: 300px;
      height: 300px;
      border-radius: 50px;
    }

    .back {
      z-index: -1;
      background-color: $accent-color;
      position: absolute;
      transform: translateY(-50%);
    }

    .back-left {
      width: 300px;
      height: 300px;
      left: 0;
      top: 50%;
      clip-path: circle(48.9% at 0 50%);
    }
    .back-rigth {
      clip-path: circle(43.6% at 100% 49%);
      width: 600px;
      height: 600px;
      right: 0;
      top: 50%;
    }
  }
}

.contacts {
  .bi {
    font-size: 40px;

    &:hover {
      font-size: 42px;
    }
  }

  ul {
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
  }

  li {
    list-style: none;
    display: flex;
    align-items: center;
    font-weight: bold;
    i {
      margin-right: 20px;
    }
  }
}

.contacts__section {
  margin: 40px 0;
}

@media screen and (min-width: 128px) and (max-width: 1000px) {
  .photo-block {
    display: none;
  }

  .greetings {
    margin: 0 auto;
    text-align: center;
  }

  .greetings__container {
    margin: auto;
  }

  .hello {
    margin: 0 auto 10px;
  }

  h1 {
    font-size: 30px;
    line-height: 40px;
  }

  .greetings__btns {
    margin: 40px auto;
    justify-content: center;
  }
}

@media screen and (max-width: 578px) {
  h1 {
    max-width: 300px;

    &::after {
      bottom: -50px;
      right: -20px;
    }
  }
}
