<div class="resume__section">
  <div class="container">
    <div class="header">
      <h1>resume</h1>
      <button (click)="downLoadService.downloadCV()">Download CV</button>
    </div>
    
    <div class="resume__content">
      <h2>experience</h2>
      <div class="experience__block">
        <div class="experience__header">
          <div>
            <h3>Frontend Developer</h3>
            <h4>Team Project</h4>
          </div>
          <em>01.02.2024 - current time</em>
        </div>
        <ul>
          <li>Collaborated with a cross-functional team to develop the Chat Condominium Association "AtHome" communication platform.</li>
          <li>Took charge of frontend development leadership, ensuring the implementation of user-friendly and intuitive interfaces.</li>
          <li>Participated in design discussions and decision-making processes to ensure alignment with project goals and user requirements.</li>
          <li>Contributed to the development of various frontend components and modules to enhance the platform's usability and functionality</li>
        <li>Worked closely with backend developers and designers to integrate frontend components with backend systems and UI/UX designs</li>
        </ul>
      </div>
      <div class="experience__block">
        <div class="experience__header">
          <div> <h3>Frontend Developer</h3>
            <h4>ECommerce-Application</h4></div>
          <em>01.08.2023 - 25.09.2023</em>
        </div>
        <ul>
          <li>Collaborated with a 3-person team to develop a web shop, facilitating users in choosing their  preferred clothing items and proceeding to checkout.</li>
          <li>Implemented an agile workflow, taking charge of team coordination and control. Utilized CommerceTools platform to enhance the functionality and performance of the application.</li>
          <li>Successfully integrated features such as filtering/sorting, authentication, and product pages.</li>
        </ul>
      </div>
    </div>
    <div class="resume__content">
      <h2>skills</h2>
      <div class="skills">
        <div class="indent">
          <div class="skill__block">
            <div class="skill__header">
              Languages
            </div>
            <div class="skill__body">
              English – B2, Ukrainian – Native, Russian – Fluent
            </div>
          </div>
          <div class="skill__block">
            <div class="skill__header">
              Programming Languages
            </div>
            <div class="skill__body">
              HTML5/CSS3 (SASS), JavaScript, TypeScript
            </div>
          </div>
          <div class="skill__block">
            <div class="skill__header">
              Technologies/Other
            </div>
            <div class="skill__body">
              RxJs, NgRx, Git, Jest, Jasmine, Webpack, RESTful, Redux, Angular Material, Bootstrap
            </div>
          </div>
        </div>
        <div class="indent">
          <div class="skill__block">
          <div class="skill__header">
            Project Management
          </div>
          <div class="skill__body">
            AGILE, JIRA, GitHub
          </div>
          
        </div>
        <div class="skill__block">
          <div class="skill__header">
            Developer Tools
          </div>
          <div class="skill__body">
            VS Code, Figma, Zeplin, Postman
          </div>
        </div>
      </div>
        <div class="skill__block">
          <div class="skill__header">
            Frameworks
          </div>
          <div class="skill__body">
            Angular 2+, React
          </div>
        </div>
        
      
        
      </div>
    </div>
    <div class="resume__content">
      <h2>education</h2>
      <div class="experience__header">
        <h4>National Aviation University | <span>Computer Science, Kyiv</span></h4>
        <em>09.2020 – Present</em>
      </div>
    </div>
    <div class="resume__content">
      <h2>courses</h2>
      <ul class="courses">
        <li>“JavaScript/Frontend” Course | <a href="https://app.rs.school/certificate/atyu06kr">Certificate link</a><a href="https://rs.school/js-en/">Course link</a></li>
        <li>“ANGULAR” Course | <a href="https://app.rs.school/certificate/eg66zgec">Certificate link</a> <a href="https://rs.school/angular/">Course link</a></li>
      </ul>
    </div>

  </div>
</div>