<section class="greetings__container container">
  <div class="content">
    <div class="greetings">
      <div class="hello">Hello!</div>
      <h1>I'm <span class="text-accent">Yelyzaveta</span>
        <br>
        Frontend Developer
      </h1>
      <div class="greetings__btns">
        <button class="btn1" (click)="downloadFile()">Download CV</button>
        <!-- <button class="btn2">Contact me</button> -->
      </div>
    </div>
    <div class="photo-block">
      <img src="assets/me.jpg" alt="">
    </div>
  </div>
</section>
<section class="projects-section">
  <div class="container projects__container">
    <div class="projects__header">
      <h2>projects</h2>
      <a routerLink="projects" class="link-btn">see all <img class="link-img" src="assets/upright.png" alt=""></a>
    </div>

    <div class="d">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam, reprehenderit. Sed ut ex velit soluta aut similique eum, corporis nihil? Reiciendis, autem. Optio earum nihil quam. Natus laboriosam iure at?
    Reprehenderit impedit ad facilis quas libero expedita delectus distinctio aliquid quos? Rem aspernatur velit odit tenetur suscipit recusandae sed amet, dolorem consequuntur illum asperiores ad incidunt eius, quidem libero doloribus?
    Nulla ullam doloremque consequatur eligendi sequi temporibus nisi facere tempora? Veniam ad possimus laborum odit ducimus accusamus dolorum facilis ea itaque saepe corrupti eaque dicta incidunt doloremque, provident nulla minima.
    Iure ratione voluptatum assumenda fugit odit modi, molestiae, ipsam beatae dolore nesciunt at earum commodi illum quidem libero possimus vero natus eaque! Repellat minima vel nulla, voluptatibus molestiae illum eum.
    Laborum doloribus deleniti architecto omnis possimus, tempora, veniam ipsa animi consectetur repudiandae magni impedit sequi in quae dolorum eaque temporibus optio aut debitis reiciendis hic incidunt! Porro ut consectetur nemo!
    Explicabo odit incidunt hic consectetur, consequatur ducimus quos enim officia perferendis atque libero voluptatem doloremque, animi dicta ullam iste aspernatur! Dignissimos magni, placeat quae cum animi dolorem illum molestiae nihil.
    Aspernatur quidem corrupti vitae quisquam perspiciatis a possimus, mollitia eveniet quo ratione molestiae commodi sit corporis cum accusantium odio esse est culpa doloribus ex molestias cumque error rem? Totam, sit?</div>
  </div>
 
</section>

